body{background-color:black;
  color:#FF5A09 ;
  }
  @font-face {
    font-family: 'myFont';
    src: url('fonts/Amagro.ttf') format('truetype');
    /* You can add more font formats here for broader browser support */
  }
  
  h1 {
    font-family: 'myFont', sans-serif;
    font-size: 6em;
    color: #FF5A09;
    text-shadow: 2px 2px 4px #000000;
  }
  
  @font-face {
    font-family: 'myFont2';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    /* You can add more font formats here for broader browser support */
  }
  
  body {
    font-family: 'myFont2', sans-serif;
    font-size: 0.8em;
  }

  #main{background-color:#393939;
  border-radius:10px;}
  
  #title{text-align:center;
  font-size:50px;}
  
  .description{text-align:center;
  color:#ec7f37
  }
  #img-div{background-color:#393939;
  padding:10px;}
  
  img{max-width:100%;}
  
  #image{display:block;}
  
  #img-caption{text-align:center;
  font-size:16px;}
  
  li{color:white;
  font-size:26px;}
  
  .bold{color:#FF5A09;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 8 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  
  #sub-title{text-align:center;
  font-size:20px;
  padding:20px 0;
  font-weight:600;}
  
  ul{max-width:1200px;
  
  }
  
  li{margin:16px;
  text-align:justify;
  }
  
  #tribute-info{width:100%;
  display:flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;}
  
  #quote{max-width:120000px;
  font-style:italic;
  text-align:center;
  margin:20px;
  }